<p style="color: green"><%= notice %></p>

<% content_for :title, "Beer clubs" %>

<h1>Beer clubs</h1>

<!--<div id="beer_clubs">-->
  <%# @beer_clubs.each do |beer_club| %>
    <%#= render beer_club %>
<!--    <p>-->
      <%#= link_to "Show this beer club", beer_club %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<table>
  <thead>
  <tr>
    <th><%= link_to "Name", beer_clubs_path(order: "name")%></th>
    <th><%= link_to "Founded", beer_clubs_path(order: "founded")%></th>
    <th><%= link_to "City", beer_clubs_path(order: "city")%></th>
  </tr>
  </thead>
  <% @beer_clubs.each do |club| %>
    <tr>
      <td><%= link_to club.name, club %></td>
      <td><%= club.founded %></td>
      <td><%= club.city %></td>
    </tr>
  <% end %>
</table>

<%= link_to("New beer club", new_beer_club_path) if current_user %>
